/*
    Pseudo-classe :nth-child()
    :nth-child() -> Seleciona vários elementos com base em suas posições em um grupo de elementos.
*/

ul li:nth-child(odd){
    background-color: purple;
}
ul li:nth-child(even){
    background-color: darkred;
}