/*
    Unidades de medidas nas fontes

    px -> É uma unidade absoluta, ou seja, não respeita os elementos na hierarquia superior.
    em -> É uma unidade relativa, ou seja, ela se baseia no elemento pai.
    rem -> É basicamente parecido com em, porém, o rem se baseia no elemento raiz que é o html.
*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.pai{
    width: 50rem;
    height: 100vh;
    background-color: yellow;
}
.pai > div{
    width: 50%;
    height: 50rem;
    background-color: blue;
}

.color-one{
    background-color: green;
}

.color-two{
    background-color: blue;
}

p{
    font-size: 1.6rem;
}